 //
 // AtlasII
 //
 //Bossart-IIA-HAC Roll Control Vernier (bluedog_Atlas2_RollControlSystem) - Atlas II roll control
@PART[bluedog_Atlas2_RollControlSystem]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
    @MODULE[ModuleRCSFX],* {
        !resourceName = DELETE
        !PROPELLANT[*],* {}
        #@RF10X_FUELS/HYDRAZINE/PROPELLANT {}
    }

    @RESOURCE[MonoPropellant] { @maxAmount = #$@RF10X_CONST/MONO_LITRES$ }
    %MODULE[ModuleFuelTanks] {
        %name = ModuleFuelTanks
        %volume = #$/RESOURCE[MonoPropellant]/maxAmount$
        %type = ServiceModule

        TANK {
            name = Hydrazine
            amount = full
            maxAmount = #$/RESOURCE[MonoPropellant]/maxAmount$
        }
    }
    !RESOURCE[*],* {}
}

