 //
 // AtlasI/II Parts
 //
@PART[bluedog_Atlas_BoosterSkirt,bluedog_CELV_BoosterSkirt,bluedog_CELV_Fin]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
    %rescaleFactor = 1.6
    @bulkheadProfiles = size2p5
}
@PART[bluedog_Atlas_FairingBase]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
    %rescaleFactor = 1.6
    @bulkheadProfiles = size2p5
    @title = Bossart-PBDF 3m Fairing Base
    @description = 3m fairing base, originally intended for use on the Bossart rocket.
}

@PART[bluedog_Atlas_Decoupler*]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
    @mass *= 1.6
    %rescaleFactor = 1.6
    @bulkheadProfiles = size2p5
}

@PART[bluedog_Atlas_Decoupler1875m]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
    @title = Bossart-MSDM 3m Stack Decoupler
    @description = Lightweight 3m stack decoupler.
    @real_title = Atlas 3m Stack Decoupler
    @bulkheadProfiles = size2p5
}

@PART[bluedog_Atlas_Decoupler25m]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
    @title = Bossart-MSDM 4m Stack Decoupler
    @description = Lightweight 4m stack decoupler.
    @real_title = Atlas 4m Stack Decoupler
    @bulkheadProfiles = size3p5
}

 //
 // AtlasII
 //
 //Bossart-IIA-HAC Roll Control Vernier (bluedog_Atlas2_RollControlSystem) - Atlas II roll control
@PART[bluedog_Atlas2_RollControlSystem]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
    %rescaleFactor = 1.6
    @MODULE[ModuleRCSFX],* {
        !resourceName = DELETE
        !PROPELLANT[*],* {}
        #@RF10X_FUELS/HYDRAZINE/PROPELLANT {}
    }

    %MODULE[ModuleFuelTanks] {
        %name = ModuleFuelTanks
        %volume = 450
        %type = ServiceModule
    }
    !RESOURCE[*],* {}
    -MODULE[TweakScale],* {}
}

 //
 // AtlasV Parts
 //
 //Muo-V-4XX 1.875m-2.5m Adapter Interstage (bluedog_AtlasV_Interstage4xx) - AtlasV adapter interstage
@PART[bluedog_AtlasV_Interstage4xx]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
    %rescaleFactor = 1.6
}
