
@PART[bluedog_AIMP_*,bluedog_IMP_Magnetometer,bluedog_SmallSquarePanel_*]:NEEDS[Bluedog_DB&RealFuels]:BEFORE[Z-RF-StockTo10x] {
    %rescaleFactor = #$@RF10X_CONST/SIZE_SCALER$
}
@PART[bluedog_AIMP_*,bluedog_IMP_Magnetometer,bluedog_SmallSquarePanel_*]:HAS[!scale]:NEEDS[Bluedog_DB&RealFuels]:BEFORE[Z-RF-StockTo10x] {
    scale = 1.0
}

// MIP-ACC Probe Core - (bluedog_AIMP_Core)
@PART[bluedog_AIMP_Core]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
    @RESOURCE[ElectricCharge] {	@maxAmount *= #$@RF10X_CONST/EC_LITRES$ }
    @RESOURCE[MonoPropellant] { @maxAmount *= #$@RF10X_CONST/MONO_LITRES$ }

    MODULE {
        name = ModuleFuelTanks
        volume = #$/RESOURCE[MonoPropellant]/maxAmount$
        @volume += #$/RESOURCE[LiquidFuel]/maxAmount$
        @volume += #$/RESOURCE[Oxidizer]/maxAmount$
        type = ServiceModule

        TANK {
            name = ElectricCharge
            amount = full
            maxAmount = #$/RESOURCE[ElectricCharge]/maxAmount$
            @maxSmount *= #$@RF10X_CONST/EC_SCALER$
        }
        TANK {
            name = Nitrogen
            amount = full
            maxAmount = #$/RESOURCE[MonoPropellant]/maxAmount$
            @maxAmount *= #$@RF10X_CONST/N2_SCALER$
        }
    }
    !RESOURCE[*],* {}
}

// Staara-13-A "Retras" Solid Rocket Motor - (bluedog_AIMP_Star13)
@PART[bluedog_AIMP_Star13]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
    @MODULE[ModuleEngine*] {
        @maxThrust *= 4
        @atmosphereCurve {
            @key,0 = 0 287
            @key,1 = 1 100
        }
        !PROPELLANT[*],* {}
        #@RF10X_FUELS/CTPB/PROPELLANT {}
    }
    @RESOURCE[SolidFuel] {
        @name = CTPB
        @amount *= #$@RF10X_CONST/SOLID_LITRES$
        @maxAmount *= #$@RF10X_CONST/SOLID_LITRES$
    }
}