
@PART[bluedog_Biosat_*]:NEEDS[Bluedog_DB&RealFuels]:BEFORE[Z-RF-StockTo10x] {
    %rescaleFactor = #$@RF10X_CONST/SIZE_SCALER$
}
@PART[bluedog_Biosat_*]:HAS[!scale]:NEEDS[Bluedog_DB&RealFuels]:BEFORE[Z-RF-StockTo10x] {
    scale = 1.0
}

// Bion-MPB Adapter Section - (bluedog_Biosat_Adapter)
@PART[bluedog_Biosat_Adapter]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {

    @RESOURCE[ElectricCharge] {	
        @amount *= #$@RF10X_BATTERY/AGZN$
        @maxAmount *= #$amount$
    }
    @RESOURCE[MonoPropellant] {
        @name = Nitrogen
        @amount *= #$@RF10X_CONST/MONO_LITRES$
        @amount *= #$@RF10X_CONST/N2_SCALER$
        @maxAmount *= #$amount$
    }
    @MODULE[ModuleRCSFX],* {
        !resourceName = DELETE
        !PROPELLANT[*],* {}
        #@RF10X_FUELS/GAS_NITROGEN/PROPELLANT {}
        @atmosphereCurve {
            @key,0 = 0 73
            @key,1 = 0 10
        }
    }
    !MODULE[ModuleResourceConverter] {}
}