
@PART[bluedog_Hexagon_*]:NEEDS[Bluedog_DB&RealFuels]:BEFORE[Z-RF-StockTo10x] {
    %rescaleFactor = #$@RF10X_CONST/SIZE_SCALER$
}
@PART[bluedog_Hexagon_*]:HAS[!scale]:NEEDS[Bluedog_DB&RealFuels]:BEFORE[Z-RF-StockTo10x] {
    scale = 1.0
}

// SG9-LRC Lifeboat RCS - (bluedog_Hexagon_LifeboatRCS)
// SG9-MCB RCS Block - (bluedog_Hexagon_MainRCS)
@PART[bluedog_Hexagon_*RCS]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
    @MODULE[ModuleRCSFX],* {
        !resourceName = DELETE
        !PROPELLANT[*],* {}
        !atmosphereCurve,* {}
        #@RF10X_FUELS/HYDRAZINE/PROPELLANT {}
        #@RF10X_FUELS/HYDRAZINE/atmosphereCurve {}
    }
}

// SG9-RV1 Return Capsule Pod - (bluedog_Hexagon_Mk8_Capsule)
@PART[bluedog_Hexagon_Mk8_Capsule]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
    @RESOURCE[ElectricCharge] {
        @amount *= #$@RF10X_BATTERY/AGZN$
        @maxAmount = #$amount$
    }
}

// SG9-RV3 Return Capsule Heatshield - (bluedog_Hexagon_Mk8_Heatshield)
@PART[bluedog_Hexagon_Mk8_Heatshield]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
	RESOURCE[Ablator] {
		@amount *= #$@RF10X_CONST/AREA_SCALER$
		@maxAmount *= #$@RF10X_CONST/AREA_SCALER$
	}
}

// SG9-RV8 Return Capsule Retro Pack - (bluedog_Hexagon_Mk8_Retro)
@PART[bluedog_Hexagon_Mk8_Retro]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
    @MODULE[ModuleEngine*] {
        @maxThrust *= 4
        @atmosphereCurve {
            @key,0 = 0 287
            @key,1 = 1 100
        }
        !PROPELLANT[*],* {}
        #@RF10X_FUELS/HTPB/PROPELLANT {}
    }
    @RESOURCE[SolidFuel] {
        @name = HTPB
        @amount *= #$@RF10X_CONST/SOLID_LITRES$
        @maxAmount *= #$@RF10X_CONST/SOLID_LITRES$
    }
    @RESOURCE[MonoPropellant] {
        @name = Hydrazine
		@amount *= #$@RF10X_CONST/MONO_LITRES$
		@maxAmount *= #$@RF10X_CONST/MONO_LITRES$
	}
    @MODULE[ModuleRCSFX],* {
        !resourceName = DELETE
        !PROPELLANT[*],* {}
        !atmosphereCurve,* {}
        #@RF10X_FUELS/HYDRAZINE/PROPELLANT {}
        #@RF10X_FUELS/HYDRAZINE/atmosphereCurve {}
    }
}

// SG9-SPS "Tanya" Service Engine - (bluedog_Hexagon_ServiceEngine)
@PART[bluedog_Hexagon_ServiceEngine]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
    @MODULE[ModuleEngine*] {
        @name = ModuleEnginesRF
        @maxThrust *= 4
        %minThrust = #$maxThrust$
        !PROPELLANT[*],* {}
        #@RF10X_FUELS/MMH_NTO/PROPELLANT,0 {}
        #@RF10X_FUELS/MMH_NTO/PROPELLANT,1 {}
        ullage = false
        pressureFed = true
    }
}

// SG9-FBC Equipment Module - (bluedog_Hexagon_ServiceModule)
@PART[bluedog_Hexagon_ServiceModule]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
	@RESOURCE[ElectricCharge] { @maxAmount *= #$@RF10X_CONST/EC_LITRES$ }
    @RESOURCE[MonoPropellant] { @maxAmount *= #$@RF10X_CONST/MONO_LITRES$ }

    MODULE {
        name = ModuleFuelTanks
        volume = #$/RESOURCE[MonoPropellant]/maxAmount$
        @volume += #$/RESOURCE[ElectricCharge]/maxAmount$
        type = ServiceModule

        TANK {
            name = ElectricCharge
            amount = full
            maxAmount = #$/RESOURCE[ElectricCharge]/maxAmount$
            @maxSmount *= #$@RF10X_CONST/EC_SCALER$
        }
    }
    !RESOURCE[*],* {}
}