
// Prometheus RB-1E471 "Cordele" Rocket Engine - (bluedog_E1)
// MBC-1 "Megalodon" Cryogenic Engine - (bluedog_M1)
// PL20-X3 "Babylonia" Cryogenic Engine - (bluedog_RL20_SL)
// PL20-X3 "Summeria" Cryogenic Engine (bluedog_RL20_Vac)
// RXD-30 "Zhar-Ptitsa" Cryogenic Engine - (bluedog_RS30)
// PXR-129 "Hausenblase" Cryogenic Engine - (bluedog_XLR129)
@PART[bluedog_E1,bluedog_M1,bluedog_RL20_*,bluedog_RS30,bluedog_XLR129]:NEEDS[Bluedog_DB&RealFuels]:BEFORE[Z-RF-StockTo10x] {
    %rescaleFactor = #$@RF10X_CONST/SIZE_SCALER$
}
@PART[bluedog_E1,bluedog_M1,bluedog_RL20_*,bluedog_RS30,bluedog_XLR129]:HAS[!scale]:NEEDS[Bluedog_DB&RealFuels]:BEFORE[Z-RF-StockTo10x] {
    scale = 1.0
}
@PART[bluedog_E1,bluedog_M1,bluedog_RL20_*,bluedog_RS30,bluedog_XLR129]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
    @MODULE[ModuleEngine*],* {
        @name = ModuleEnginesRF
        @maxThrust *= 4
        %minThrust = #$maxThrust$
        !PROPELLANT[*],* {}
        #@RF10X_FUELS/HYDROLOX/PROPELLANT,0 {}
        #@RF10X_FUELS/HYDROLOX/PROPELLANT,1 {}
        ullage = true
        pressureFed = false
        #@RF10X_IGNITION/IGNITOR_RESOURCE[ElectricCharge] {}
    }
    @MODULE[ModuleB9PartSwitch]:HAS[#moduleID[engineSwitch]] {
        @SUBTYPE,* {
            -descriptionDetail = none
        }
        @SUBTYPE:HAS[@MODULE:HAS[@IDENTIFIER[ModuleEnginesFX]]],* {
            @MODULE:HAS[@IDENTIFIER[ModuleEnginesFX]],* {
                @IDENTIFIER[ModuleEnginesFX] {
                    @name = ModuleEnginesRF
                }
                @DATA:HAS[#maxThrust] {
                    @maxThrust *= 4
                    @minThrust = #$maxThrust$
                }
            }
        }
    }
}
