
// JA10-37-6 "Alpha" Liquid Engine - (bluedog_Able_Engine)
@PART[bluedog_Able_Engine]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
	@mass = 0.09
	%rescaleFactor = 1.6
	@category = Engine
	@bulkheadProfiles = size0p5

	@MODULE[ModuleEngine*] {
		@name = ModuleEnginesRF
		@maxThrust = 32.6
		%minThrust = 32.6

		!PROPELLANT[*],* {}
		#@RF10X_FUELS/UDMH_IRFNA/PROPELLANT,0 {}
		#@RF10X_FUELS/UDMH_IRFNA/PROPELLANT,1 {}

		@atmosphereCurve {
			@key,0 = 0 261
			@key,1 = 1 180
		}
		ullage = false
		pressureFed = true
	}
	MODULE {
        name = ModuleEngineConfigs
        type = ModuleEnginesRF
        modded = false

		origMass = #$../mass$
        configuration = AbleAJ10-37

        CONFIG {
            name = AbleAJ10-37
			massMult = 1
            maxThrust = 32.6
            minThrust = 32.6
        }
        CONFIG {
            name = AbleAJ10-118D
			massMult = 1
            maxThrust = 34
            minThrust = 34
			atmosphereCurve {
				key = 0 278
				key = 1 200
				key = 3 0.001
			}
        }
    }

	@MODULE[ModuleB9PartSwitch]:HAS[#moduleID[engineSwitch]] {
        @SUBTYPE:HAS[@MODULE] {
            !MODULE,* {}
            MODULE {
                IDENTIFIER {
                    name = ModuleEngineConfigs
                }
                DATA {
                    configuration = #$../../name$
                }
            }
        }
		@SUBTYPE:HAS[#addedMass] { !addedMass = 0 }
    }

	-MODULE[TweakScale],* {}
}

// Daleth-B/C/D-85 Liquid Fuel Tank - (bluedog_DeltaB_Tank)
// Alpha/Alpha II-60 Liquid Fuel Tank - (bluedog_ThorAble_Tank)
@PART[bluedog_DeltaB_Tank,bluedog_ThorAble_Tank]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
    @mass *= 1.6
	%rescaleFactor = 1.6
    @bulkheadProfiles = size0p5, srf
    
    MODULE {
		name = ModuleFuelTanks
		volume = 60
		@volume = #$/RESOURCE[LiquidFuel]/maxAmount$
		@volume += #$/RESOURCE[Oxidizer]/maxAmount$
        @volume += #$/RESOURCE[MonoPropellant]/maxAmount$
		@volume *= 20.48	//5 * 1.6^3
		type = ServiceModule

        TANK {
            name = Hydrazine
            amount = full
            maxAmount = #$/RESOURCE[MonoPropellant]/maxAmount$
		    @maxAmount *= 20.48    //5 * 1.6^3
        }
	}
    @MODULE[ModuleRCSFX],* {
        !resourceName = DELETE
        !PROPELLANT[*],* {}
        #@RF10X_FUELS/HYDRAZINE/PROPELLANT {}
        @atmosphereCurve {
			@key,0 = 0 220
		}
    }    
    !RESOURCE[*],* {}
	-MODULE[TweakScale],* {}
    !MODULE[ModuleB9PartSwitch]:HAS[#moduleID[volumeSwitch]] {}
}
@PART[bluedog_ThorAble_Tank]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
    @description = A slightly modified derivative of the Easton second stage, this lightweight 1m upper stage tank was borrowed for the Fenris-Alpha Rocket. The Fenris team promises they will return the tanks to the Easton team once they are done. In the meantime, this tank has integrated three-axis attitude control and a small monopropellant supply.
}

// Alpha-AGU Guidance Unit - (bluedog_ThorAble_Guidance)
@PART[bluedog_ThorAble_Guidance]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
    @mass *= 1.6
	%rescaleFactor = 1.6
    @bulkheadProfiles = size0p5

    @RESOURCE[ElectricCharge] {
		@amount *= 4.096
		@maxAmount *= 4.096
	}
}

// Alpha/Daleth-SIF 0.9375m Interstage Adapter - (bluedog_ThorDelta_Interstage)
@PART[bluedog_ThorDelta_Interstage]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
    @mass *= 1.6
	%rescaleFactor = 1.6
    @bulkheadProfiles = size0p5, size1p2

    @title = Alpha/Daleth-SIF 1.5m Interstage Adapter
	@description = A 1.5m to 1m interstage adapter/decoupler for the Fenris and Daleth rockets. Note that it decouples from the bottom, leaving a small section of the top part of the shroud attached to protect the engine.
}	