
// MSPB-II Upper Stage Kit - (bluedog_Burner2)
@PART[bluedog_Burner2]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
    %rescaleFactor = 1.6

    @MODULE[ModuleEngine*] {
        @name = ModuleEnginesRF
        @maxThrust = 39.5
        %minThrust = 39.5

        !PROPELLANT[*],* {}
        #@RF10X_FUELS/HYDRAZINE/PROPELLANT {}

        @atmosphereCurve {
            @key,0 = 0 285
            @key,1 = 1 180
        }
        ullage = false
        pressureFed = true
    }

    @MODULE[ModuleRCSFX],* {
        !resourceName = DELETE
        !PROPELLANT[*],* {}
        #@RF10X_FUELS/HYDRAZINE/PROPELLANT {}
        @atmosphereCurve {
            @key,0 = 0 220
        }
    }

    MODULE {
		name = ModuleFuelTanks
		volume = #$/RESOURCE[MonoPropellant]/maxAmount$
		@volume *= 20.48	//5 * 1.6^3
		type = ServiceModule

        TANK {
            name = Hydrazine
            amount = full
            maxAmount = #$/RESOURCE[MonoPropellant]/maxAmount$
		    @maxAmount *= 20.48    //5 * 1.6^3
        }
	}
    !RESOURCE[*],* {}
}