
@PART[bluedog_HOSS*]:NEEDS[Bluedog_DB&RealFuels]:BEFORE[Z-RF-StockTo10x] {
    %rescaleFactor = #$@RF10X_CONST/SIZE_SCALER$
}
@PART[bluedog_HOSS*]:HAS[!scale]:NEEDS[Bluedog_DB&RealFuels]:BEFORE[Z-RF-StockTo10x] {
    scale = 1.0
}

// CUSS-ACC Avionics Adapter - (bluedog_HOSS_Avionics)
@PART[bluedog_HOSS_Avionics]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
    @RESOURCE[ElectricCharge] {
        @amount *= #$@RF10X_BATTERY/AGZN$
        @maxAmount *= #$amount$
    }
}

// CUSS-1200 Fuel Tank - (bluedog_HOSS_Tank)
@PART[bluedog_HOSS_Tank]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
    @RESOURCE[Oxidizer] { @maxAmount = #$@RF10X_CONST/LFO_LITRES$ }
    @RESOURCE[LqdHydrogen] { @maxAmount = #$@RF10X_CONST/LH_LITRES$ }
    MODULE {
        name = ModuleFuelTanks
        volume = #$/RESOURCE[Oxidizer]/maxAmount$
        @volume = #$/RESOURCE[LqdHydrogen]/maxAmount$
        type = Cryogenic
    }
    !RESOURCE[*],* {}
}

// CUSS-EMP 1.5m Engine Mount - (bluedog_HOSS_EngineMount)
@PART[bluedog_HOSS_EngineMount]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
    %rescaleFactor = 1.6

    @MODULE[ModuleRCSFX],* {
        !resourceName = DELETE
        !PROPELLANT[*],* {}
        #@RF10X_FUELS/HYDRAZINE/PROPELLANT {}
    }

    @RESOURCE[MonoPropellant] { @maxAmount *= #$@RF10X_CONST/MONO_LITRES$ }

    MODULE {
        name = ModuleFuelTanks
        volume = #$/RESOURCE[MonoPropellant]/maxAmount$
        type = ServiceModule

        TANK {
            name = Hydrazine
            amount = full
            maxAmount = #$/RESOURCE[MonoPropellant]/maxAmount$
        }
    }
    !RESOURCE[*],* {}
}
