
// Daleth SSR-68 "Bruno" (bluedog_DeltaIV_RS68)
@PART[bluedog_DeltaIV_RS68]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
	@mass = 6.6
	%rescaleFactor = 1.6
	@category = Engine
	@bulkheadProfiles = size1p5
	
	@MODULE[ModuleEngine*] {
		@name = ModuleEnginesRF
		@maxThrust = 3370
		%minThrust = 1735
		@atmosphereCurve {
			@key,0 = 0 410
		}
		!PROPELLANT[*],* {}
		#@RF10X_FUELS/HYDROLOX600/PROPELLANT,0 {}
		#@RF10X_FUELS/HYDROLOX600/PROPELLANT,1 {}
	}
	
	MODULE {
		name = ModuleEngineConfigs
		type = ModuleEnginesRF

		engineType = L+
		origMass = #$../mass$
		modded = false

		useConfigAsTitle = true							
		configuration = SSR-68
	
		CONFIG {
			name = SSR-68
			configDescription = Daleth SSR-68 "Bruno"
			
			maxThrust = 3370
			minThrust = 1735			
			#@RF10X_FUELS/HYDROLOX600/PROPELLANT,0 {}
			#@RF10X_FUELS/HYDROLOX600/PROPELLANT,1 {}	
			#/MODULE[ModuleEnginesRF]/atmosphereCurve {}

			ullage = true
			pressureFed = false

			IGNITOR_RESOURCE {
				name = ElectricCharge
				amount = 0.1
			}
		}		
		CONFIG {
			name = SSR-68A/B
			configDescription = Daleth SSR-68A/B "Bruno"
			
			maxThrust = 3558.6
			minThrust = 1832.6
			
			#@RF10X_FUELS/HYDROLOX600/PROPELLANT,0 {}
			#@RF10X_FUELS/HYDROLOX600/PROPELLANT,1 {}
			
			atmosphereCurve {
				key = 0 412
				key = 1 362
				key = 9 0.001
			}
			
			ullage = true
			pressureFed = false
				
			IGNITOR_RESOURCE {
				name = ElectricCharge
				amount = 0.1
			}
		}
        CONFIG {
			name = SSR-68K
			configDescription = Daleth SSR-68K Regen "Bruno"

            powerEffectName = running_regen			
			maxThrust = 3646.8
			minThrust = 1878
			
			#@RF10X_FUELS/HYDROLOX600/PROPELLANT,0 {}
			#@RF10X_FUELS/HYDROLOX600/PROPELLANT,1 {}
			
			atmosphereCurve {
				key = 0 435
				key = 1 380
				key = 9 0.001
			}
			
			ullage = true
			pressureFed = false
				
			IGNITOR_RESOURCE {
				name = ElectricCharge
				amount = 0.1
			}
		}
	}
 	
 	@MODULE[ModuleB9PartSwitch]:HAS[#moduleID[engineSwitch]] {
        @SUBTYPE[*],* {
            !MODULE,* {}
        }
        @SUBTYPE[RS68] {
            MODULE {
                IDENTIFIER {
                    name = ModuleEngineConfigs
                }
                DATA {
                    configuration = SSR-68
                }
            }
        }
		@SUBTYPE[RS68A] {
            MODULE {
                IDENTIFIER {
                    name = ModuleEngineConfigs
                }
                DATA {
                    configuration = SSR-68A/B
                }
            }
        }
		@SUBTYPE[RS68B] {
            MODULE {
                IDENTIFIER {
                    name = ModuleEngineConfigs
                }
                DATA {
                    configuration = SSR-68A/B
                }
            }
        }
		@SUBTYPE[RS68C] {
            MODULE {
                IDENTIFIER {
                    name = ModuleEngineConfigs
                }
                DATA {
                    configuration = SSR-68K
                }
            }
        }
    }

	@MODULE[ModuleB9PartSwitch]:HAS[#moduleID[mountSwitch]] {
		@SUBTYPE[Boattail*] {
			@NODE {
				@position = 0.0,0.80485,0.0
			}
		}
	}
}
