
// TSS-IDA Interstage Adapter - (bluedog_IUS_Interstage)
@PART[bluedog_IUS_Interstage]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
    %rescaleFactor = 1.6
}

// Orbitas-6 0.9375m Solid Rocket Motor - (bluedog_IUS_Orbus6)
// Orbitas-21 1.5m Solid Rocket Motor - (bluedog_IUS_Orbus21)
@PART[bluedog_IUS_Orbus*]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
    %rescaleFactor = 1.6

    @MODULE[ModuleEngine*] {
        @maxThrust *= 4
        !PROPELLANT[*],* {}
        #@RF10X_FUELS/HTPB/PROPELLANT {}
    }
    @RESOURCE[SolidFuel] {
        @name = HTPB
        @amount *= 20.48
        @maxAmount *= 20.48
    }
    @MODULE[ModuleB9PartSwitch],* {
        @SUBTYPE:HAS[@NODE],* {
            @position[1] /= 1.6
        }
    }
}

// PKS-ACP Avionics and Control Package - (bluedog_TOS_Avionics)
@PART[bluedog_TOS_Avionics]:NEEDS[Bluedog_DB&RealFuels]:FOR[Z-RF-StockTo10x] {
    %rescaleFactor = 1.6

    MODULE {
		name = ModuleFuelTanks
		volume = #$/RESOURCE[MonoPropellant]/maxAmount$
		@volume *= 20.48	//5 * 1.6^3
		type = ServiceModule

        TANK {
            name = Hydrazine
            amount = full
            maxAmount = #$/RESOURCE[MonoPropellant]/maxAmount$
		    @maxAmount *= 20.48    //5 * 1.6^3
        }
	}
    @MODULE[ModuleRCSFX],* {
        !resourceName = DELETE
        !PROPELLANT[*],* {}
        #@RF10X_FUELS/HYDRAZINE/PROPELLANT {}
        @atmosphereCurve {
			@key,0 = 0 220
		}
    }
    @RESOURCE[ElectricCharge] {
		@amount *= 20.48
		@maxAmount *= 20.48
	}
    !RESOURCE[MonoPropellant] {}
}